@use "./src/Styles/partials/resets";
@use "./src/Styles/partials/typography";
@use "./src/Styles/partials/_variables" as *;

body {
  background-color: $background;
  padding: 2rem;
  height: 100vh;
  background-image: url("./assets/Images/Green\ and\ Yellow\ Illustrated\ Creative\ Life\ is\ Music\ Desktop\ Wallpaper.jpg");
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.content {
  background-color: $accent;
  border-radius: 5px;
  width: 50%;

  &__box {
    color: $text;
    text-align: center;
    font-size: 2rem;
  }
}

.button {
  background-color: $secondary;
  border-radius: 5px;
  border: 2px solid $accent;
  color: $primary;
  height: 3rem;
  width: 10rem;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
